<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

	<variable name="Collector" value="SSRBase" />
	<variable name="Application" value="LandingPage" />
	<variable name="Environment" value="Staging" />

	<extensions>
		<add assembly="Yokozuna.AspNetCore.Logging.NLog" />
	</extensions>

	<targets>
		<target type="ColoredConsole"
                name="Console"
                layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />

		<target name="Error"
                type="YokozunaErrorTarget"
                Collector="${Collector}"
                Application="${Application}"
                Environment="${Environment}"/>

		<target name="Debug"
                type="YokozunaDebugTarget"
                Collector="${Collector}"
                Application="${Application}"
                Environment="${Environment}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="Error" final="true"/>
	</rules>

</nlog>