<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="api.carsales.odata" value="http://nexus.aws.csprd.com.au/repository/nuget-group/" />
	</packageSources>
	<disabledPackageSources>
	</disabledPackageSources>
</configuration>
